@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

:root{
  --shadow_1: 0
  calc(var(--basic_size)*0.05) calc(var(--basic_size)*0.15) gray;
  --shadow_2: 0
  calc(var(--basic_size)*0.05) calc(var(--basic_size)*0.15) black;
  --color_1:
  rgb(245 246 198);
--color_2:
  rgb(163 207 255);
}

/* for mobile device */
@media screen and (max-width:600px) {
  :root{
  --basic_size: 1rem;
  --margin_1:
  calc(var(--basic_size)*1) 2%;
  --margin_2:
  calc(var(--basic_size)*0.5) 4%;
  --padding_1:
  calc(var(--basic_size)*1) 0;
  }

  #block_type_4 {
    display: flex;
    justify-content: space-between;
    padding: var(--padding_1);
    flex-direction: column;
    border-radius: calc(var(--basic_size)*0.5);
    margin: var(--margin_1);
    align-items: center;
  }
  #block_type_5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
  }
  #block_type_6{
    width: 100%;
    padding: var(--margin_2);
  }
}

/* for computer */
@media screen and (min-width:600px) {
  :root{
    --basic_size:1rem;
    --margin_1:
    calc(var(--basic_size)*1) 10%;
    --margin_2: 0 1%;
    --padding_1: calc(var(--basic_size)*1) 1%;
  }

  #block_type_4 {
    display: flex;
    justify-content: space-between;
    padding: var(--padding_1);
    flex-direction: row;
    border-radius: calc(var(--basic_size)*0.5);
    margin: var(--margin_1);
    align-items: flex-start;
  }
  #block_type_5{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 68%;
  }
  #block_type_6 {
    width: 30%;
  }
}

/* :root{
  --shadow_1: calc(var(--basic_size)*0.2) calc(var(--basic_size)*0.2) calc(var(--basic_size)*0.2) black;
  --mobile_font_size: 1rem;
  --pc_font_size: 1rem;
} */

body{
  font-family: 'Open Sans', sans-serif;
}

h1{
  font-size: calc(var(--basic_size)*1.5);
  font-family: 'Oleo Script', cursive;
}

#block_type_1{
  display: flex;
  justify-content: center;
  padding: calc(var(--basic_size)*2) 0 0 0;
}
#block_type_2{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  /* padding: calc(var(--basic_size)) 0; */
}
#block_type_3{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: var(--color_1);
  padding: 0 calc(var(--basic_size)*2);
  /* margin: 1rem 0; */
  margin-bottom: calc(var(--basic_size)*2);
}
#block_type_4{
  border: solid calc(var(--basic_size)*0.1);
  border-color: gray;
}


#link_type1{
  color: blue;
  text-decoration: underline;
}

.social_link{
  border-radius: 50%;
  height: calc(var(--basic_size)*2.5);
  margin: calc(var(--basic_size)*2);
  box-shadow: var(--shadow_1);
}
.social_link:hover, .social_link:active{
  box-shadow: var(--shadow_2);
}

#social_link_1{
  background-color: #fe005c;
}
#social_link_2{
  background-color: #ff5500;
}
#social_link_3{
  background-color: #171516;
}

.social_link_img{
  height: 100%;
}

.body_text{
  font-size: var(--basic_size);
  /* margin: calc(var(--basic_size)*0.4) 0; */
  line-height: calc(var(--basic_size)*1.2);
}

#textbox_type_1{
  margin: calc(var(--basic_size)*0.5) 0;
}
#textbox_type_2{
  margin: calc(var(--basic_size)*0.5);
}

ul {
  font-size: var(--basic_size);
  padding: 0 0 0 var(--basic_size);
  list-style: square;
}
li {
  margin: calc(var(--basic_size)*0.2) 0;
}

footer {
  margin: calc(var(--basic_size)*2) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_1 {
border-radius: calc(var(--basic_size)*0.2);
display: flex;
justify-content: center;
align-items: center;
padding: calc(var(--basic_size)*0.3);
width: 100%;
background: var(--color_2);
box-shadow: var(--shadow_1);
}
.button_1:hover, .button_1:active {
  box-shadow: var(--shadow_2);
}

#youtuebe_video_type1 {
  position: relative;
  width: 100%; /* 横幅は100%で固定 */
  height:0; /* 高さは0にしておく(padding-topで高さを指定するため) */
  padding-top: 60%; /* 高さを指定(16:9) */
}

.youtube_video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#block_type_4 img{
margin: calc(var(--basic_size)*0.5);
width: 100%;
}

.link_on_button{
  width: 100%;
}
